/*-------------------------------------------
UTILITIES
-------------------------------------------*/

$color-text-primary: #121212;
$color-text-on-dark: #fff;
$color-border-primary: #121212;
$color-border-on-dark: #fff;
$color-bg-dark: #121212;
$color-bg-primary: #fff;
$color-flow-image: #414141;
$mq-breakpoint: 960px;
$side-nav-width: 300px;


@mixin maxmq() {
  @media (max-width: $mq-breakpoint) {
    @content;
  }
}

/*-------------------------------------------
COMMON
-------------------------------------------*/

html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  position: relative;
  color: $color-text-primary;
}

main {
  margin-left: $side-nav-width;

  @include maxmq {
    margin-left: 0;
    padding-top: 72px;
  }
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include maxmq {
    font-size: 1.25rem;
    margin-bottom: 35px;
  }

  &::before,
  &::after {
    content: "";
    width: 28%;
    background-color: $color-border-primary;
    height: 1px;

    @include maxmq {
      width: 18%;
    }
  }
}

/*-------------------------------------------
HEADER
-------------------------------------------*/

#header {
  position: fixed;
  width: $side-nav-width;
  height: 100%;
  padding: 40px 45px;
  background-color: $color-bg-primary;
  overflow-y: auto;
  z-index: 10;

  @include maxmq {
    width: 100%;
    height: 72px;
    padding: 9px 18px;
  }

  .logo {
    font-size: 1.2rem;
    font-weight: normal;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    img {
      width: 60px;

      @include maxmq {
        width: 50px;
      }
    }
  }
}

/*-------------------------------------------
HAMBURGER MENU
-------------------------------------------*/

#navi {
  font-size: .875rem;
  margin-top: 38px;

  @include maxmq {
    position: fixed;
    background-color: $color-bg-primary;
    width: $side-nav-width;
    height: 100%;
    top: 0;
    left: (-$side-nav-width);
    margin-top: 0;
    padding: 35px 25px;
    opacity: 0;
    z-index: 10;
    transition: .3s;
  }

  li {
    &+li {
      margin-top: 16px;
    }
  }

  .sns-list {
    margin-top: 76px;
  }
}

#hamburger-icon {
  display: none;
  position: fixed;
  top: 23px;
  right: 18px;
  cursor: pointer;
  z-index: 10;

  @include maxmq {
    display: block;
  }

  span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: $color-border-primary;
    transition: .3s;

    &+span {
      margin-top: 10px;
    }
  }
}

#mask {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  transition: .3s;
  pointer-events: none;
}

.open {
  #navi {
    left: 0;
    opacity: 1;
  }

  #mask {
    opacity: .8;
    pointer-events: auto;
  }

  #hamburger-icon {
    .middle-bar {
      opacity: 0;
    }

    .top-bar {
      background-color: $color-border-on-dark;
      transform: translateY(12px) rotateZ(-315deg);
    }

    .bottom-bar {
      background-color: $color-border-on-dark;
      transform: translateY(-12px) rotateZ(315deg);
    }
  }
}

/*-------------------------------------------
TO TOP BUTTON
-------------------------------------------*/

#to-top-button {
  width: 50px;
  height: 50px;
  border: 1px solid $color-border-on-dark;
  border-radius: 50%;
  background-color: $color-bg-dark;
  position: fixed;
  right: 25px;
  bottom: 25px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  user-select: none;
  transition: .3s;
  z-index: 5;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  span {
    display: inline-block;
    border-bottom: 7px solid $color-text-on-dark;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: translateY(-6px);
  }
}

/*-------------------------------------------
BACKGROUND VIDEO
-------------------------------------------*/

#background-video {
  width: 100%;
  height: 100vh;

  video {
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*-------------------------------------------
PROJECT
-------------------------------------------*/

#project {
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));

  @include maxmq {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-title {
    color: $color-text-on-dark;

    &::before,
    &::after {
      background-color: $color-border-on-dark;
    }
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 56px;

    @include maxmq {
      flex-direction: column;
      gap: 30px;
    }

    li {
      width: calc((100% - 56px) / 2);
      border: 1px solid $color-border-on-dark;
      position: relative;

      @include maxmq {
        width: 100%;
      }
    }

    a {
      display: block;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0 -30px 15px 1px rgba(18, 18, 18, 1);
      }
    }

    .image-title {
      position: absolute;
      color: $color-text-on-dark;
      font-size: .75rem;
      bottom: 7px;
      left: 7px;
      z-index: 1;
    }
  }
}

/*-------------------------------------------
FEATURES
-------------------------------------------*/

#features {
  padding-top: 80px;
  padding-bottom: 160px;
  background: rgba(0, 0, 0, .8);

  @include maxmq {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .section-title {
    color: $color-text-on-dark;

    &::before,
    &::after {
      background-color: $color-border-on-dark;
    }
  }

  ul {
    display: flex;
    gap: 5%;
    color: $color-text-on-dark;
    text-align: center;
  }

  li {
    width: calc((100% - 10%) / 3);
  }

  .circle {
    display: block;
    border: 1px solid $color-border-on-dark;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 100%;
      background-color: rgba(255, 255, 255, .3);
      transform: translateX(-100%);
      transition: transform .7s;
    }

    &:hover {
      &::before {
        transform: translateX(0);
      }
    }
  }

  .circle-text {
    font-size: .875rem;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
  }

  .feature-title {
    font-size: 1rem;
    margin-top: 15px;
  }

  .feature-text {
    line-height: 1.5;
    font-size: .875rem;
    margin-top: 9px;
  }
}

/*-------------------------------------------
FLOW
-------------------------------------------*/

#flow {
  padding-top: 120px;
  padding-bottom: 50px;
  background: $color-bg-primary;

  @include maxmq {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-column {
    margin-top: 60px;
    display: flex;
    gap: 5%;

    @include maxmq {
      margin-top: 30px;
      flex-direction: column;
      align-items: center;
      gap: 80px;
    }
  }

  .flow-image {
    position: relative;

    &::before {
      content: "";
      width: 50px;
      height: 600px;
      background-color: #ffdd00;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }

    li {
      width: 200px;
      height: 80px;
      background-color: $color-flow-image;
      color: $color-text-on-dark;
      font-size: .875rem;
      line-height: 80px;
      text-align: center;
      list-style-position: inside;
      position: relative;

      @include maxmq {
        width: calc(100vw - 80px);
      }

      &+li {
        margin-top: 60px;
      }

      &::after {
        content: "";
        border-top: 30px solid $color-flow-image;
        border-right: 100px solid transparent;
        border-left: 100px solid transparent;
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;

        @include maxmq {
          border-right: calc(50vw - 40px) solid transparent;
          border-left: calc(50vw - 40px) solid transparent;
        }
      }
    }
  }

  .flow-text {
    li {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 10px;

      &+li {
        margin-top: 43px;
      }
    }

    .number {
      display: block;
      width: 35px;
      height: 35px;
      background-color: $color-flow-image;
      color: $color-text-on-dark;
      border-radius: 50%;
      text-align: center;
      line-height: 35px;
      flex: 0 0 auto;
    }

    .flow-title {
      font-size: 1.25rem;
      font-weight: normal;
      padding-bottom: 10.5px;
      border-bottom: 1px solid $color-border-primary;
    }

    p {
      margin-top: 10px;
    }
  }
}

/*-------------------------------------------
CONTACT
-------------------------------------------*/

#contact {
  padding-top: 80px;
  padding-bottom: 160px;
  background: $color-bg-primary;

  @include maxmq {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .contact-list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    @include maxmq {
      margin-top: 30px;
      flex-direction: column;
      padding: 0 67px;
      gap: 20px;
    }

    li {
      width: 30%;
      text-align: center;
      border: 1px solid $color-border-primary;
      transition: outline-width .1s;

      @include maxmq {
        width: 100%;
      }

      &:hover {
        outline: 3px solid $color-border-primary;
      }
    }

    a {
      display: block;
      height: 100%;
      padding: 50px 0;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        border-bottom: 20px solid $color-bg-dark;
        border-left: 20px solid transparent;
        right: 4px;
        bottom: 4px;
      }
    }

    img {
      width: 56px;
    }

    p {
      margin-top: 8px;
    }
  }
}

/*-------------------------------------------
FOOTER
-------------------------------------------*/

#footer {
  margin-left: $side-nav-width;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  background-color: $color-bg-dark;
  color: $color-text-on-dark;

  @include maxmq {
    margin-left: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: .875rem;
    line-height: 1.5;
  }

  li {
    padding: 0 20px;
    border-right: 1px solid $color-border-on-dark;

    &:last-child {
      border-right: none;
    }
  }

  .copyright {
    margin-top: 60px;
    font-size: .75rem;
  }
}